figure {
    margin-top: 10px;
    figcaption {
	padding-top: 0;
	float: inherit;
    }
    &.left-floated {
	img {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
    }
    &.right-floated {
	img {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
    }
    p {
	margin: 0px;
    }
}

pre {
  code {
    @media (prefers-color-scheme: light) {
      color: inherit;
    }

    [data-theme=light] & {
      color: inherit;
    }
  }
}

.post-title {
  font-size: 2.2rem;
}

/* Attempt to fix prism.js twilight theme */
pre[class*="language-"] {
    box-shadow: none;
    border: 1px solid hsl(0, 0%, 33%); /* #282A2B */
}
code[class*="language-"], pre[class*="language-"] {
    text-shadow: none;
}
